### Tadeo Alejandro Suárez Martínez #1806069

# Ejercicio 1
### Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [118]:
T = 1806069 
T2 = "Tadeo Suarez"
Ej1 = "Mi nombre es " + T2 + " y mi matricula es " + str(T) #https://www.youtube.com/watch?v=8HpB8GSCd84
print(Ej1)

Mi nombre es Tadeo Suarez y mi matricula es 1806069

# Ejercicio 2
### Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [119]:
print("Si desea una suma oprima 1")
print("Si desea una resta oprima 2")
print("Si desea una multiplicacion oprima 3")
print("Si desea una division oprima 4 y escriba en el primer numero el numerador y en el segundo el denominador")
print("Si desea una exponencial oprima 5 y escriba en el primer numero la base y en el segundo el exponente")
D = int(input("Oprima el numero de acuerdo a la operacion que desea: "))
a1 = float(input("Introduce el primer número:" ))
b1 = float(input("Introduce el segundo número: "))
if D==1: 
    op=a1 + b1
elif D==2:
    op=a1-b1
elif D==3:
    op=a1*b1
elif D==4:
    op=a1/b1
elif D==5:
    op=a1**b1
else:
    print ("Por favor ingrese un numero valido del 1 al 5 acorde a su opercion")
print ("El resultado de su operacion es", op)

Si desea una suma oprima 1
Si desea una resta oprima 2
Si desea una multiplicacion oprima 3
Si desea una division oprima 4 y escriba en el primer numero el numerador y en el segundo el denominador
Si desea una exponencial oprima 5 y escriba en el primer numero la base y en el segundo el exponente
Oprima el numero de acuerdo a la operacion que desea: 3
Introduce el primer número:5
Introduce el segundo número: 5
El resultado de su operacion es 25.0

# Ejercicio 3
### Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [120]:
sum=0
for i in range(1,31):
    if i%3 == 0:
        print (i)
        sum=sum+i
g="La suma de estos numeros es de " + str(sum)   
print(g)

3
6
9
12
15
18
21
24
27
30
La suma de estos numeros es de 165

# Ejercicio 4
### Con una función de if else, revisar si un número es par o es impar.
### Con una función de if else, revisar si un número es primo o no.

In [121]:
x =float(input("Ingresa el numero "))
if x%2==0:
    par="El numero "+str(x)+" es par"
else:
    par="El numero "+str(x)+" es impar"
print(par)

Ingresa el numero 12
El numero 12.0 es par

In [122]:
y =int(input("Ingresa el numero "))
suma=0
for i in range(1,y+1):
    if y>1 and y%i ==0:
        suma=suma+1
if suma==2:
    print("El numero es primo")
else:
     print("El numero no es primo")

Ingresa el numero 67
El numero es primo

# Ejercicio 5
### Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [123]:
class Operaciones:
    def suma(self,a,b):
        t="El resultado es "+ str(a+b)
        print(t)
    def resta(self,a,b):
        t="El resultado es "+ str(a-b)
        print(t)
    def multiplicacion(self,a,b):
        t="El resultado es "+ str(a*b)
        print(t)
    def division(self,a,b):
        t="El resultado es "+ str(a/b)
        print(t)
    def exponente(self,a,b):
        t="El resultado es "+ str(a**b)
        print(t)

In [124]:
u=Operaciones()
print("Si desea una suma oprima 1")
print("Si desea una resta oprima 2")
print("Si desea una multiplicacion oprima 3")
print("Si desea una division oprima 4 y escriba en el primer numero el numerador y en el segundo el denominador")
print("Si desea una exponencial oprima 5 y escriba en el primer numero la base y en el segundo el exponente")
D = int(input("Oprima el numero de acuerdo a la operacion que desea: "))
a = float(input("Introduce el primer número:" ))
b = float(input("Introduce el segundo número: "))
if D==1: 
    u.suma(a,b)
elif D==2:
    u.resta(a,b)
elif D==3:
    u.multiplicacion(a,b)
elif D==4:
    u.division(a,b)
elif D==5:
    u.exponente(a,b)
else:
    print ("Por favor ingrese un numero valido del 1 al 5 acorde a su opercion")

Si desea una suma oprima 1
Si desea una resta oprima 2
Si desea una multiplicacion oprima 3
Si desea una division oprima 4 y escriba en el primer numero el numerador y en el segundo el denominador
Si desea una exponencial oprima 5 y escriba en el primer numero la base y en el segundo el exponente
Oprima el numero de acuerdo a la operacion que desea: 5
Introduce el primer número:2
Introduce el segundo número: 3
El resultado es 8.0

# Ejercicios con estructuras básicas de python.
### Tuplas
#### Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [125]:
t=23.06
k=21
d=False
r= 6 + 2j #https://relopezbriega.github.io/blog/2015/10/12/numeros-complejos-con-python/

In [126]:
type(t)

float

In [127]:
type(k)

int

In [128]:
type(d)

bool

In [129]:
type(r)

complex

#### Crear una tupla con valores enteros imprimir el primer y ultimo valo

In [130]:
t1=(1,2,3,4,5)
print(t1[0],t1[-1])

1 5

#### Añadir 3 valores de string a la tupla.

In [131]:
t1 = t1.__add__(("x","y","z"))
t1

(1, 2, 3, 4, 5, 'x', 'y', 'z')

#### Verificar si una variable existe dentro de la tupla

In [132]:
print("Comprobando si el 4 existe en la lista") #https://parzibyte.me/blog/2018/04/17/python-comprobar-elemento-valor-existe-lista-arreglo/
if 4 in t1:
    print("La variable existe en la lista")
else: 
    print("La variable no existe en la lista")

Comprobando si el 4 existe en la lista
La variable existe en la lista

### Listas

#### Crear una lista con 40 elementos aleatorios enteros.

In [12]:
import random as r
aleat=[0]*40
for i in range (0,40):
    aleat[i]=r.randint(1,100)
aleat

[15,
 60,
 42,
 12,
 72,
 15,
 72,
 81,
 38,
 83,
 98,
 20,
 9,
 97,
 75,
 46,
 11,
 90,
 61,
 71,
 66,
 84,
 50,
 86,
 27,
 66,
 93,
 39,
 77,
 79,
 3,
 77,
 46,
 70,
 73,
 9,
 35,
 52,
 70,
 37]

#### Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [13]:
def pares(lista):
    par=[]
    impar=[]
    for i in lista:
        if i%2==0:
            par.append(i)      
        else:
            impar.append(i)
    return par,impar
par, impar=pares(aleat)
print(par)
print(impar)

[60, 42, 12, 72, 72, 38, 98, 20, 46, 90, 66, 84, 50, 86, 66, 46, 70, 52, 70]
[15, 15, 81, 83, 9, 97, 75, 11, 61, 71, 27, 93, 39, 77, 79, 3, 77, 73, 9, 35, 37]

#### Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [14]:
lonpar= len(par)
lonimpar= len(impar)
print(lonpar)
print(lonimpar)

19
21

#### Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [16]:
par.sort()
par.reverse()
impar.sort()
   
print (par)
print (impar)

[98, 90, 86, 84, 72, 72, 70, 70, 66, 66, 60, 52, 50, 46, 46, 42, 38, 20, 12]
[3, 9, 9, 11, 15, 15, 27, 35, 37, 39, 61, 71, 73, 75, 77, 77, 79, 81, 83, 93, 97]

#### Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [136]:
aleat.append(20) #agregamos 20
aleat.reverse()  #la invertimos
aleat.sort()     #la ordenamos de menor a mayor
aleat.extend([1,3,5])#La extendemos con los siguientes numeros
aleat

[2,
 2,
 4,
 5,
 5,
 20,
 20,
 24,
 25,
 25,
 26,
 27,
 28,
 29,
 30,
 32,
 33,
 36,
 38,
 42,
 43,
 47,
 47,
 50,
 52,
 56,
 66,
 67,
 71,
 73,
 73,
 77,
 77,
 77,
 78,
 88,
 89,
 92,
 93,
 95,
 98,
 1,
 3,
 5]

### Diccionarios

#### Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [137]:
dict1 = {'Cynthia de la Cruz': 20, 'Daniela Navarro': 20, 'Karla Gamez': 21, "Rubi Torres": 21, "Cesar Leos": 20, "Karla Reyes": 22 }

#### Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [138]:
edad=list(dict1.values())
edad.sort()
edad

[20, 20, 20, 21, 21, 22]

#### Usando el diccionario y un loop, imprimir solo los nombres

In [139]:
for i in dict1:
    print(i)

Cynthia de la Cruz
Daniela Navarro
Karla Gamez
Rubi Torres
Cesar Leos
Karla Reyes

#### Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [140]:
dict1['Liz Saucedo'] = '22' #http://elclubdelautodidacta.es/wp/2012/08/python-agregar-y-eliminar-elementos-de-un-diccionario/
dict1['Valeria Mancias'] = '20'

### Sets
#### Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [37]:
from random import randint
set={randint(1, 25) for i in range(100)}
set

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

#### Comprueba la longitud de tu set.

In [38]:
len(set)

25

#### Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [40]:
import random as r
aleat=[0]*5
for i in range (0,5):
    aleat[i]=r.randint(1,10)
    aleat
for i in range (0,5):
    t=aleat[i]
    if t in set:
        r = "El valor " + str(t) + " se encuentra en el set"
        print(r)

El valor 2 se encuentra en el set
El valor 5 se encuentra en el set
El valor 7 se encuentra en el set
El valor 8 se encuentra en el set
El valor 10 se encuentra en el set